
<!-- Message de notification -->
<?php if(isset($_GET['status']) && $_GET['status']==1): ?>
    <div class="alert alert-success" role="alert">Thank you for your order, it will arrive in 20 minutes.  Bon apetit!</div>

<?php elseif(isset($_GET['status']) && $_GET['status']==2) : ?>
    <div class="alert alert-success" role="alert">Thank you, we have received your booking.  We will reach you by phone soon for confirmation.</div>

<?php elseif(isset($_GET['status']) && $_GET['status']==0) : ?>
    <div class="alert alert-danger" role="alert">We are sorry, your payment was not processed by the bank.  Please try again.</div>


<?php elseif(isset($_GET['status']) && $_GET['status']==99) : ?>
    <div class="alert alert-danger" role="alert">We are sorry, some time-space continuum issues.  Please try again.</div>

<?php endif; ?>

<!-- Code HTML à écrire -->


<!-- Liste des aliments -->

<!--<div class="jumbotron">-->
<!--    <div class="container">-->
<!--        <span class="jumbo-text">True Italian Bistro</span>-->
<!--        <p>Gironi's since 1973.<br>The place your parents met and still meet .. your kids :)</p>-->
<!--        <p><a class="btn btn-primary btn-lg" href="--><?//= $requestUrl ?><!--/menushow" role="button">Our menu</a></p>-->
<!--    </div>-->
<!--</div>-->

<div class="poster">
    <img class="img-responsive" alt="Gironi's bistro since 1973" src="<?= $wwwUrl ?>/images/background-bistro.jpg">
    <div class="poster-overlay">
        <span class="jumbo-text">True Italian bistro</span>
        <span class="poster-text">Gironi's since 1973.<br>The place your parents met and still meet .. your kids <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span></span>
        <p><a class="btn btn-primary btn-lg poster-button" href="<?= $requestUrl ?>/menushow" role="button">Our menu</a></p>
        </div>


    </div>
</div>

<!-- En-tête commune -->
