<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3WA Restaurant</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <!--    <link rel="stylesheet" href="--><?//= $wwwUrl ?><!--/css/normalize-3.0.3.min.css">-->
    <!--    <link rel="stylesheet" href="--><?//= $wwwUrl ?><!--/css/font-awesome-4.3.0.min.css">-->

    <!--    <!-- Feuilles de styles de l'application-->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/3wa-resto.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/mz-style.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-button.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-form.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-table.css">
<!--    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">-->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Play" rel="stylesheet">

    <!-- Librairie jQuery -->
    <!-- Latest compiled and minified JavaScript -->

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- JavaScript de l'application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>
</head>
<body>



<div class="pattern"></div>


    <?php
//        $logged_user = $_SESSION['user'];
//        $user_role = $_SESSION['role'];

//    dd($logged_user);

    if (isset($_SESSION['user']) && $_SESSION['role'] == 'user') : ?>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?= $requestUrl ?>/">
                        <span class="nav-logo-txt">Gironi's</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="<?= $requestUrl ?>/menu">Home delivery <span class="sr-only">(current)</span></a></li>
                        <li><a href="<?= $requestUrl ?>/bookings">Find a table</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="<?= $requestUrl ?>/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> (<?= number_format($_SESSION['totalSum'], 2, ',', ' ') ?>)</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <?php echo $_SESSION['user'] ?> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Table bookings</a></li>
                                <li><a href="#">Order history</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="?logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <?php elseif (isset($_SESSION['user']) && $_SESSION['role'] == 'admin') : ?>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?= $requestUrl ?>/">
                        <span class="nav-logo-txt">Gironi's</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Bookings <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Users</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <?php echo $_SESSION['user'] ?> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action log</a></li>
                                <li><a href="#">User action log</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="?logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <?php else : ?>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?= $requestUrl ?>/">
                        <span class="nav-logo-txt">Gironi's</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="<?= $requestUrl ?>/menu">Home delivery <span class="sr-only">(current)</span></a></li>
                        <li><a href="<?= $requestUrl ?>/bookings">Find a table</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="<?= $requestUrl ?>/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> (<?= number_format($_SESSION['totalSum'], 2, ',', ' ') ?>)</a></li>
                        <li><a href="<?= $requestUrl ?>/login">Login</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    <?php endif; ?>
</nav>

<main>
    <!-- Affichage du template lié à la vue -->
    <?php include $this->viewData['template'] ?>
</main>

<!-- Pied de page commun -->
<footer>
    <ul class="link-list">
        <li><img src="<?= $wwwUrl ?>/images/payment/visa.png" alt="Visa"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/mastercard.png" alt="MasterCard"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/paypal.png" alt="PayPal"></li>
    </ul>
    <small>Réalisé avec <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; par les élèves de la 3W Academy</small>
</footer>

<!-- Code principal JavaScript de l'application -->
<script src="<?= $wwwUrl ?>/js/main.js"></script>

</body>
</html>