<?php
    $total = number_format(sumArrayByField($_SESSION['cart'], "item_total"), 2, '.', ' ');
?>

<h2>Total amount to pay for the order: <?= $total ?> €</h2>



<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="elgiron@generama.lt">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="item_name" value="Invoice">
    <input type="hidden" name="amount" value="<?= $total ?>">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
</form>

<form action="" method="post">
    <input type="submit" value="Order to credit :)" id="pay_btn">
    <input type="hidden" name="type" value="cancel">
</form>

<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<!--    <input type="hidden" name="cmd" value="_s-xclick">-->
<!--    <input type="hidden" name="hosted_button_id" value="9K7STU43BWTLE">-->
<!--    <input type="hidden" name="amount" value="12.99">-->
<!--    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
<!--    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
<!--</form>-->
