<style>
    input
    {
        width: 60px;
        color: black;
    }
</style>
<div class="container">
    <div class="page-header">
        <h2>Home delivery? <small>Yes .. but better come visit us :)</small></h2>
    </div>
<table class="generic-table meal-list">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Price each</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    <?php foreach ($menu as $menu_item) : ?>

        <tr>
            <td> <img src="<?= $wwwUrl ?>/images/meals/<?= $menu_item['Photo']; ?>"></td>
            <td><?= $menu_item['Name']; ?></td>
            <td><?= number_format($menu_item['SalePrice'], 2, ',', ' '); ?></td>
            <td>
                <form action="" method="post">
                    <input type="number" name="qty_ordered" id="qty_ordered" min="0" max="50">
                    <input type="hidden" name="item_id" value="<?php echo $menu_item['id']; ?>">
                    <input type="submit" value="To cart"<i class="fa fa-cart-plus"></i>
                </form>
            </td>

        </tr>

    <?php endforeach; ?>

    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
</table>
</div>