<h2>Orders view</h2>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Image</th>
            <th>Meal</th>
            <th>Price each</th>
            <th>Ordered Qty</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>

<?php
$eilesNr = 0;
foreach ($orders as $order): $eilesNr++; ?>

     <tr>
         <td><?php echo $eilesNr; ?></td>
         <td> <img src="<?= $wwwUrl ?>/images/meals/<?= $order['Photo']; ?>"></td>
         <td><?php echo $order['Name']; ?></td>
         <td><?php echo $order['SalePrice']; ?></td>
         <td><?php echo $order['QuantityInStock']; ?></td>
         <td><?php echo $order['SalePrice'] * $order['QuantityInStock']; ?></td>
     </tr>

<?php endforeach; ?>

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total oder: </td>
            <td><?php echo $totalValue; ?> Eur</td>
        </tr>
    </tfoot>
</table>