<style>
    #qty_ordered {
        width: 45px;
        color: black;
    }

    #remove_item {
        color: black;
    }
</style>

<div class="container">
<?php if ($_SESSION['totalSum'] == 0) : ?>
    <div class="page-header">
        <h2>Empty cart? <small>Why not check our <a href="<?= $requestUrl ?>/menu">home delivery menu</a> ?</small></h2>
    </div>

<?php else: ?>
    <div class="page-header">
        <h2>Let's continue? <small>Please review your order before checkout</small></h2>
    </div>
    <table class="generic-table">
        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Price each</th>
            <th>Quantity</th>
            <th>Item total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <?php
        foreach ($cart as $sel_item) :

            ?>

            <tr>
                <td> <img src="<?= $wwwUrl ?>/images/meals/<?= $sel_item['Photo']; ?>"></td>
                <td><?= $sel_item['Name']; ?></td>
                <td><?= number_format($sel_item['SalePrice'], 2, ',', ' '); ?></td>
                <td><?= $sel_item['qty_ordered']; ?></td>
                <td><?= number_format($sel_item['item_total'], 2, ',', ' '); ?></td>
                <td>
                    <form action="" method="post">
                        <input type="submit" value="Remove" id="remove_item">
                        <input type="hidden" name="type" value="remove">
                        <input type="hidden" name="item_id" value="<?php echo $sel_item['id']; ?>">
                    </form>
                </td>

            </tr>

        <?php endforeach; ?>

        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Order total: </td>
            <td><?= number_format(sumArrayByField($_SESSION['cart'], "item_total"), 2, ',', ' '); ?></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form action="" method="post">
                    <input type="submit" value="Checkout" id="checkout_btn">
                    <input type="hidden" name="type" value="checkout">
                </form>
            </td>
        </tr>
        </tfoot>
    </table>

<?php endif; ?>
</div>
