
/*font-family: 'Play', sans-serif;*/
/*font-family: 'Lobster', cursive;*/




 .jumbotron {
     margin-bottom: 0px;
     background-image: url('../images/background-bistro.jpg');
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
     text-shadow: black 1.3px 2.3px 2.3px;

 }

.pattern {
    height: 35px;
    background-image: url('../images/pattern.png');
    background-position: 0% 0%;
    /*background-size: 30px;*/
    background-repeat: repeat-x;
}

/*span {*/
    /*display: inline-block;*/
/*}*/

.nav-logo-txt {
    color: #e5181f;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;

}

.btn-primary {
    background-color: #339966;
    background-image: none;
    border: solid 1px whitesmoke;
}

.btn-primary:hover {
    /*background-color: #339966;*/
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
    border: solid 1px whitesmoke;
    color: black;
    font-weight: 900;
    text-shadow: black 1.3px 1.3px 2.3px;

}

.navbar-default .navbar-nav>li>a {
    color: #339966;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1E593B;
}

.input-group {
    padding: 0 0 20px 0;
    width: 50%;
}

.nav-tabs {
    margin-bottom: 30px;
}

.jumbo-text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: white;
    text-shadow: black 1.3px 2.3px 3.3px;
}

.poster {
    position: relative;
    z-index: 99;
}

.poster-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: block;
}

.poster-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    text-shadow: black 1.3px 2.3px 3.3px;
    font-size: 1.5em;
}

.poster-button {
    position: absolute;
    top: 80%;
    left: 10%;
}