<h2>Our menu</h2>

<div class="container">
</div>
<img class="img-responsive" src="<?= $wwwUrl ?>/images/menu/primi.png"></img>
<img class="img-responsive" src="<?= $wwwUrl ?>/images/menu/secondi.png"></img>
<img class="img-responsive" src="<?= $wwwUrl ?>/images/menu/dolci.png"></img>
