<style>
    .input-group-addon {
        width: 150px;
        text-align: left;
    }

</style>

<div class="container">
    <div class="page-header">
        <h2>Booking table? <small>Please fill the form and we will call you back for confirmation</small></h2>
    </div>
  <form action="" id="booking" method="POST">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Booking date: </span>
        <input required type="date" name="res_date" class="form-control" placeholder="Booking date" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Booking time: </span>
        <select name="hours" class="form-control" style="width: 50%">
            <?php for($i = 18; $i < 23; $i++): ?>
                <option value="<?= $i ?>"><?= $i ?></option>
            <?php endfor; ?>
        </select>
        <select name="minutes" class="form-control" style="width: 50%">
            <option value="00">00</option>
            <option value="30">30</option>
        </select>
        <input type="hidden" name="res_time" value="18:00">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Number of guests: </span>
        <input required type="number" name="guests" min="1" max="15" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Your name: </span>
        <input required type="text" name="name" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Your phone: </span>
        <input required type="tel" name="phone" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>

    <div>
        <button type="submit" class="btn btn-default">Book a table</button>
    </div>


</form>

    <ul class="nav nav-pills">
        <li role="presentation"><a href="<?= $requestUrl ?>/registration">Register for faster booking!</li>
    </ul>

</div>
