
<form action="" id="registration" method="POST">

    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="<?= $requestUrl ?>/login">Login</a></li>
            <li role="presentation" class="active"><a href="#">Register</a></li>
        </ul>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input required type="text" name="first_name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input required type="text" name="last_name" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
            <input required type="text" name="email" class="form-control" placeholder="E.mail" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
            <input required type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
            <input type="password" name="password" class="form-control" placeholder="Repeat password" aria-describedby="basic-addon1">
        </div>

        <button type="submit" class="btn btn-default">Register</button>
    </div>

</form>

