

<form action="" id="login" method="POST">
    <?php if(isset($_GET['status']) && $_GET['status']==0): ?>
            <div class="alert alert-danger" role="alert">Wrong user name / password</div>

    <?php elseif(isset($_GET['status']) && $_GET['status']==1) : ?>
            <div class="alert alert-warning" role="alert">To complete your order, please login/register</div>

    <?php endif; ?>

    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Login</a></li>
            <li role="presentation"><a href="<?= $requestUrl ?>/registration">Register</a></li>
        </ul>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" name="email" class="form-control" placeholder="E.mail" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
            <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </div>

</form>